body,html{
	margin: 0;
	padding: 0;
	background: #000 url('galaxy.jpg') center;
	font-size: 16px;
	font-family: impact;
	font-weight:500;
}

.starwars-page{
	margin: auto;	
	width:100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	perspective:500px;
	overflow: hidden;
	text-align: center;
}
.starwars-intro{	
	top:0%;	
	margin:auto;
	width:100%;
	max-width: 400px;
	position: relative;
	font-size: 1.8em;
	color: #e8be1e;
	text-align: justify;
	transform:rotateX(30deg) scale(2);	
}
h1{
	font-size: 2em;
	text-align: center;
}

/* Github Ribbon */
.ribbon{
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0; 
	width: 149px; 
	height: 149px;
	z-index: 1100;
}